{% extends "storage/base.html" %}

{% block content %}
<h1>Storage Status</h1>
{% for location in location_list %}
    <p>
        <form action="{% url 'storage:update' location.id %}" method="post">
            {% csrf_token %}
            <table class="storagetable">
            <tr>
                <th class="buttoncell"><input type="submit" value="&lt; Cycle" name="CycleLeft"/></th>
                <th class="buttoncell"><input type="submit" value="Add" name="AddLeft"/></th>
                <th>{{ location.name }}</th>
                <th class="buttoncell"><input type="submit" value="Add" name="AddRight"/></th>
                <th class="buttoncell"><input type="submit" value="Cycle &gt;" name="CycleRight"/></th>
            </tr>
            </table>
            <table class="traintable">
            <tr>
                {% if location.trains.count %}
                    {% for train in location.ordered_trains %}
                    <td>{{train}} <input type="submit" value="X" name="Remove_{{train.id}}"/></td>
                    {% endfor %}
                {% else %}
                <td colspan="1">Clear</td>
                {% endif %}
                </tr>
            </table>
        </form>
    </p>
{% endfor %}
{% endblock %}